/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
    margin: 0 auto;
    max-width: 250px;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

.username {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

.router-link {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    font: bold 14px Arial;
    font-color:

}

.router-link:hover {
    background-color: #beecea;
    text-decoration: none
}

.main-heading {
    font-size: 2.5rem;
    font-weight: bold;
}

.main-message {
    font-size: 1.5rem;
}

.setVisible {
    font-weight: bold;
    color: black;
}

.faculty-tax-u .faculty-content{
    display:flex;
}

.faculty-admin-heading{
   font-size:37px;
   font-weight:900;
   margin-bottom:-20px;
}

.faculty-admin-message{
     font-size:17px;
}


.quote{
    font-style:italic;
}

.guideline{
    font-weight:bold;
    font-size:1em;
}

.space-below{
    padding-bottom: 25px;
    width:300px
}

.bolden{
font-weight:bold;
}

.userDetails-form{
     margin-top: 25px;
     padding-left: 30px;
     padding-top: 40px;
     border-width: thin 0.1em;
     border-style: solid;
     border-color:#E8E8E8;
     border-radius: 10px;
}

.password-form{
     padding-left: 30px;
     padding-top: 40px;
     padding-bottom: 40px;
     border-width: thin 0.1em;
     border-style: solid;
     border-color:#E8E8E8;
     border-radius: 10px;
     margin:auto;
     margin-top: 100px;
}

.password-guideline{
    padding-bottom: 25px;
    width:300px
    font-size:1.2em;
    font-weight:bold;
}

.password-button{
        padding-top:10px;
}

.dashboard-panel{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width:250px;

}

.dashboard-panel .stat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.0em;
    font-weight : bold;
}

.dashboard-panel .detail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em;
}

.dashboard-card{
    margin-left: auto;
    margin-right: auto;
}

.rate-form-text{
    padding-right: 40px;
    padding-left : 30px;
}

